[pylint]
disable=
    broad-except,
    consider-iterating-dictionary,
    consider-using-dict-items,
    consider-using-with,
    dangerous-default-value,
    empty-docstring,
    f-string-without-interpolation,
    import-error,
    import-outside-toplevel,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-module-docstring,
    no-else-return,
    no-value-for-parameter,
    redefined-outer-name,
    simplifiable-condition,
    simplifiable-if-expression,
    subprocess-run-check,
    too-few-public-methods,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-statements,
    unspecified-encoding,
    unused-variable,
    used-before-assignment,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
